header{
            background-color: rgb(102, 102, 166);
            height: 100px;
        }
        .foot{
            background-color: slategrey;
            width: 100%;
            height: 100px;
        }