body{
    background-color: rgba(233, 40, 14, 0.932);
    text-align: left;
    color: aquamarine;
    padding: 10px;
}
h1{
    color: rgb(0, 119, 255);
    text-align: center;
}
header{
    background-color: rgb(158, 241, 22);
    border-radius: 10cm;
    padding: 100px;
    text-align: left;
    size: 20px;
}
h2{
   color: brown;
   text-align: center;
}
ol{
    color: black;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}
#p1{
    color: black;
    font-size: medium;
}
#p2{
    color: yellow;
    font-size: medium;
}
