body{ font-family: Arial, Helvetica, sans-serif;
        margin: 30px;
        padding: 0;
        background-color: rgba(231, 228, 223, 0.799);
        color: rgb(227, 224, 224);
    
    }
    
    .h1{
        text-align: center;
    }
    header{
        width: 100%;height: 30%;
        padding-top: 2%;
        background-color: rgba(146, 17, 34, 0.651);
    }
    .p{
         text-align: center;
         
    }
    section{
        color: rgb(51, 13, 18);
        
    }
    .p{
        text-align: left;
        color: rgb(43, 6, 6);
    }
    .footer{
        background-color: rgb(3, 3, 31);
        width: 100%;
        height: 100px;
        
        
    }
   .last{
    text-align: center;
    


   }